#ferramentas_desmatamento{
    display: flex;
    text-align: center;
    position: absolute;
    height: 30%;
    width: 100%;
    bottom: 0;
}
#area_desmatada{
    display: flex;
    position: absolute;
    width: 100%;
    height: 18%;
}
.tronco{
    background-image: url("../assets/desmatamento/tronco.png");
}
.buraco{
    background-image: url("../assets/desmatamento/buraco.png");
}
.buraco_arrado{
    background-image: url("../assets/desmatamento/terra\ arada.png");
}
.buraco_muda{
    background-image: url("../assets/desmatamento/muda\ plantada.png");
}
.muda_agoada{
    background-image: url("../assets/desmatamento/muda\ plantada.png");
}
#ferramentas_desmatamento > div{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-y: center;
    margin: 0 3%;
    width: 20%;
    height: 100%;
}
#pá_desmatamento{
    background-image: url("../assets/desmatamento/pa.png");
    cursor: url("../assets/desmatamento/pa_mouse.png"), auto;        
}
#muda_desmatamento{
    background-image: url("../assets/desmatamento/muda.png");
    cursor: url("../assets/desmatamento/muda_mouse.png"), auto;        
}
#enxada_desmatamento{
    background-image: url("../assets/desmatamento/enxada.png");
    cursor: url("../assets/desmatamento/enxada_mouse.png"), auto;     
}
#regador_desmatamento{
    background-image: url("../assets/desmatamento/regador.png");
    cursor: url("../assets/desmatamento/regador_mouse.png"), auto;
}
.planta_desmatamento{
    width: 30%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0.5%;
}