/*Configura main */


#main_div{
    position: absolute;
    height: 91%;
    width: 75%;
    margin: 0;
    padding: 0;
    left: 11%;
    top: 4%;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: url("../assets/tela/apontador_seta.png"), auto;
}

/*Tela inicial*/
#info_btn, #como_jogar_btn, #jogar_btn, #voltar_btn{
    cursor: url("../assets/tela/apontador_mão.png"), auto;
    position: absolute;
    width: 7%;
    height: 13%;
    bottom: 23%;
}
#info_btn{
    left: 5%;
}
#como_jogar_btn{
    left: 13%;
}
#jogar_btn{
    left: 41%;
    width: 18%;
}

#voltar_btn{
    z-index: 5;
    background-image: url("../assets/voltar.png");
    background-size: 100%;
    top: 2%;
    right: 2%;
    height: 11%;
}
#floresta_btn, #animais_btn, #reflorestamento_btn, #lago_btn, #sede_btn{
    position: absolute;
}
#floresta_btn img:hover, #animais_btn img:hover, #reflorestamento_btn img:hover, #lago_btn img:hover, #sede_btn img:hover{
     
  -webkit-filter: drop-shadow(20px 20px 20px #222);
  filter: drop-shadow(20px 20px 20px #222);
}
#floresta_btn{
    width: 26%;
    height: 40%;
    left: 3%;
    top: 10%;
}
#animais_btn{
    width: 17%;
    height: 22%;
    left: 10%;
    bottom: 22%;
}
#reflorestamento_btn{
    width: 24%;
    height: 31%;
    left: 41%;
    bottom: 2%;
}
#lago_btn{
    width: 31%;
    height: 50%;
    bottom: 20%;
    right: 4%;
}
#sede_btn{
    width: 26%;
    height: 44%;
    left: 36%;
    top: 19%;
}


.inicio{
    background-image: url("../assets/tela/inicio.png") !important;
}
.info{
    background-image: url("../assets/tela/info.png") !important;
}
.como_jogar{
    background-image: url("../assets/tela/como_joga.png") !important;
}
.floresta{
    background-image: url("../assets/tela/floresta.png") !important;
}
.trafico_animais{
    background-image: url("../assets/resgate/salvamento\ jacaretinga1.png") !important;
}
.trafico_boto_seguro{
    background-image: url("../assets/resgate/salvamento\ boto1.png") !important;
}
.trafico_boto_aproximando{
    background-image: url("../assets/resgate/salvamento\ boto2.png") !important;
}
.trafico_boto_perigo{
    background-image: url("../assets/resgate/salvamento\ boto3.png") !important;
}
.trafico_jacaretinga_seguro{
    background-image: url("../assets/resgate/salvamento\ jacaretinga1.png") !important;
}
.trafico_jacaretinga_aproximando{
    background-image: url("../assets/resgate/salvamento\ jacaretinga2.png") !important;
}
.trafico_jacaretinga_perigo{
    background-image: url("../assets/resgate/salvamento\ jacaretinga3.png") !important;
}
.trafico_pirarucu_seguro{
    background-image: url("../assets/resgate/salvamento\ pirarucu1.png") !important;
}
.trafico_pirarucu_aproximando{
    background-image: url("../assets/resgate/salvamento\ pirarucu2.png") !important;
}
.trafico_pirarucu_perigo{
    background-image: url("../assets/resgate/salvamento\ pirarucu3.png") !important;
}
.trafico_peixe_boi_seguro{
    background-image: url("../assets/resgate/salvamento\ peixe_boi1.png") !important;
}
.trafico_peixe_boi_aproximando{
    background-image: url("../assets/resgate/salvamento\ peixe_boi2.png") !important;
}
.trafico_peixe_boi_perigo{
    background-image: url("../assets/resgate/salvamento\ peixe_boi3.png") !important;
}
.desmatamento{
    background-image: url("../assets/tela/desmatamento.png") !important;
}
.queimadas_resgatar{
    background-image: url("../assets/tela/queimadas_resgatar.png") !important;
}
.queimadas_resgatar_onça{
    background-image: url("../assets/tela/queimadas_resgatar_onça.png") !important;
}
.queimadas_resgatar_aves{
    background-image: url("../assets/tela/queimadas_resgatar_aves.png") !important;
}
.queimadas_resgatar_anta{
    background-image: url("../assets/tela/queimadas_resgatar_anta.png") !important;
}
.queimadas_apagar{
    background-image: url("../assets/tela/queimadas_apagar.png") !important;
}
.poluicao{
    background-image: url("../assets/tela/rio.png") !important;
}
.sede{
    background-image: url("../assets/tela/sede.png") !important;
}

#voltar_btn, #queimadas_resgatar, #queimadas_apagar, #desmatamento, #poluicao, #trafico_animais, #floresta{
    display: none;
}