#poluicao_esteira1, #poluicao_esteira2, #poluicao_esteira3{
    position: absolute;
    display: flex;
    width: 99%;
    height: 16%;
    margin: 0;
    padding: 0;
    left: 0%;
    top: 43%;
}
#poluicao_esteira2{
    top: 52%;
}
#poluicao_lixeiras{
    position: absolute;
    display: flex;
    width: 49%;
    height: 25%;
    bottom: 0;
    left: 25%;
}
.poluicao_item{
    width: 10%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
}
#poluicao_lixeiras .plastico{
    left: 26%;
}
#poluicao_lixeiras .papel{
    left: 36%;
}
#poluicao_lixeiras .metal{
    left: 46%;
}
#poluicao_lixeiras .vidro{
    left: 56%;
}
#poluicao_lixeiras > div{
    width: 100%;
    height: 100%;
}
.poluicao_item.plastico{
    background-image: url("../assets/lixo/plástico.png");
    background-size: 90%;
    background-position-y: bottom;
}
.poluicao_item.papel{
    background-image: url("../assets/lixo/papel.png");
    background-size: 90%;
    background-position-y: bottom;
}
.poluicao_item.metal{
    background-image: url("../assets/lixo/metal.png");
    background-size: 90%;
    background-position-y: bottom;
}
.poluicao_item.vidro{
    background-image: url("../assets/lixo/vidro.png");
    background-size: 90%;
    background-position-y: bottom;
}
#poluicao_lixeiras > div{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
}
#poluicao_lixeiras > .plastico{
    background-image: url("../assets/lixeira/plástico.png");
}
#poluicao_lixeiras > .metal{
    background-image: url("../assets/lixeira/metal.png");
}
#poluicao_lixeiras > .vidro{
    background-image: url("../assets/lixeira/vidro.png");
}
#poluicao_lixeiras > .papel{
    background-image: url("../assets/lixeira/papel.png");
}