.local-queimada{
    width: 10%;
    height: 100%;
    position: absolute;
}
.linha-queimada{
    letter-spacing:-.31em;
    *letter-spacing:normal;
    *word-spacing:-.43em;
    text-rendering:optimizespeed;
    display:-webkit-flex;
    -webkit-flex-flow:row wrap;
    display:-ms-flexbox;
    -ms-flex-flow:row wrap;
    -ms-align-content:flex-start;
    -webkit-align-content:flex-start;
    align-content:flex-start;
    width: 98%;
    height: 16%;
    position: absolute;
}
.linha-queimada.linha1{
    top: 17%;
}
.linha-queimada.linha2{
    top: 34%;
}
.linha-queimada.linha3{
    top: 51%;
}
.linha-queimada.linha4{
    top: 68%;
}
.linha-queimada > :nth-child(1){
    left: 4%;
}
.linha-queimada > :nth-child(2){
    left: 16%;
}
.linha-queimada > :nth-child(3){
    left: 28%;
}
.linha-queimada > :nth-child(4){
    left: 40%;
}
.linha-queimada > :nth-child(5){
    left: 52%;
}
.linha-queimada > :nth-child(6){
    left: 64%;
}
.linha-queimada > :nth-child(7){
    left: 76%;
}
.linha-queimada > :nth-child(8){
    left: 88%;
}
.floresta-fogo-queimada{
    background-image: url('../assets/queimadas/chama.png');
    background-size: 65%;
    background-repeat: no-repeat;
    background-position-x: center;
}