#sede{
    position: absolute;
    width: 100%;
    height: 82%;
    display: none;
}
#sede_menu > div{
    width: 100%;
    height: 100%;
    top: 0%;
    border-radius: 20px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-color:#044b3a;
}

.bloqueado{
    display: none;
    width: 100%;
    height: 100%;
    background: gray;
    border-radius: 20px;
    opacity: 70%;
}

#sede_onça{
    background-image: url("../assets/animais/onça.png");
    grid-area: onça;
}

#sede_harpia{
    background-image: url("../assets/animais/harpia.png");
    background-size: 130% !important;
    grid-area: harpia;
}

#sede_tucano{
    background-image: url("../assets/animais/tucano.png");
    grid-area: tucano;
    background-size: 70% !important;
}
#sede_anta{
    background-image: url("../assets/animais/anta.png");
    grid-area: anta;
}

#sede_boto{
    background-image: url("../assets/animais/boto.png");
    grid-area: boto;
}

#sede_peixe_boi{
    background-image: url("../assets/animais/peixe_boi.png");
    grid-area: peixe_boi;
}
#sede_pirarucu{
    background-image: url("../assets/animais/pirarucu.png");
    grid-area: pirarucu;
}

#sede_jacaretinga{
    background-image: url("../assets/animais/jacaretinga.png");
    grid-area: jacaretinga;
}

.sede_info{
    position: absolute;
    left: 5%;
    width: 90%;
    height: 100%;
    display: none;
}
#sede_menu{
    width: 69%;
    height: 92%;
    left: 15%;
    top: 6%;
    position: absolute;
    display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 40% 40%;
	grid-template-areas:
        "onça harpia tucano anta"
        "pirarucu boto jacaretinga peixe_boi";
	grid-gap: 10px;
}
.sede_info .imagens{
    display: flex;    
    position: absolute;
    width: 42%;
    height: 79%;
    left: 8%;
    top: 7%;
}
.sede_info .texto{
    font-size: 170%;
    top: 8%;
    position: absolute;
    width: 42%;
    height: 79%;
    right: 6%;
    font-family: 'Arista', sans-serif !important;
    color: white;
}

.sede_info .imagens .texto{
    padding: 3%;
    padding-top: 0;
}

.sede_info .imagens > img{
    padding-top: 0;
    border-radius: 20px;
}
.sede_info .titulo{
    color: white;
    margin-top: -3%;
    text-align: center;
    font-family: Roadbrush;
    position: absolute;
    left: 40%;
}