@font-face { font-family: Roadbrush; src: url('fonts/KTF-Roadbrush.ttf'); }
@font-face { font-family: Odin; src: url('fonts/Odin Rounded - Regular.otf'); }

@font-face { 
    font-family: AristaPro-Fat; 
    src: url('fonts/Arista\ Light.ttf'); 
}
html{
    background: black;
}
*{
    z-index: 0;
}
#comunica{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;    
    cursor: url("../assets/tela/apontador_mão.png"), auto;
}
#texto{
    font-family: 'AristaPro-Fat', sans-serif !important;
    letter-spacing: 1px;
}
#caixa_texto{
    width: 67%;
    right: 0%;
    bottom: 0;
    font-family: 'AristaPro-Fat', sans-serif !important;
    position: absolute;
    background-image: url(../assets/dialogo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 36%;
}
#comunica_personagem{
    width: 39.5%;
    left: 0;
    bottom: 0;
    z-index: 4;
    background-image: url(../assets/julia1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;
    position: absolute;
    height: 66%;
}
#proxima_fala_btn{
    width: 8%;
    height: 31%;
    right: 3%;
    bottom: 16%;
    position: absolute;
    /*background: url("../assets/next.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;*/
}
#texto{
    padding: 8%;
    padding-top: 10%;
    font-family: Odin;
    font-size: 30px;
    color: white;
}