@font-face { font-family: Roadbrush; src: url('fonts/KTF-Roadbrush.ttf'); }
@font-face { font-family: Odin; src: url('fonts/Odin Rounded - Regular.otf'); }
html{
    background: black;
}
#main_div{
    width: auto;
    height: 100%;
    left:15%;
}
#comunica{
    display: none;
}
#caixa_texto{
    width: 53.2%;
    left: 34%;
    bottom: 5.5%;;
    position: absolute;
    background-image: url(../assets/dialogo.png);
    background-repeat: no-repeat;
    background-size: 95%;
    height: 30%;
    padding: 20px;
}
#comunica_personagem{
    width: 36.5%;
    left: 9.9%;
    bottom: 10.3%;
    background-image: url(../assets/julia1.png);
    background-size: 85%;
    background-repeat: no-repeat;    
    background-position-y: bottom;
    position: absolute;
    height: 66%;
}
#proxima_fala_btn{
    width: 80px;
    height: 80px;
    right: 0;
    bottom: 0;
    position: absolute;
}
#texto{
    padding: 5%;
    padding-top: 7%;
    font-family: Odin;
    font-size: 30px;
    color: white;
}